<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Map App</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js" crossorigin="anonymous"></script>    
</head>
<body>
    <h1>約束に間に合いましたか？</h1>
    <div>
        <button onclick="submitResponse('yes')">はい</button>
        <button onclick="submitResponse('no')">いいえ</button>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>
