<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Map App</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js" crossorigin="anonymous"></script>    
</head>
<body>
    <h1>LIFF Map App</h1>
    <div>
        <p id="userName"></p>
        <p id="userLocation"></p>
    </div>
    
    <script src="../script.js"></script>
</body>
</html>
