<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Map App</title>
    
</head>
<body>
    <h1>LIFF Map App</h1>
    <div>
        <p id="userName"></p>
        <p id="userLocation"></p>
    </div>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <script>

        liff.init({
            liffId: '2002096181-Ryql27BY', // Use own liffId
            withLoginOnExternalBrowser: true, // Enable automatic login process
        }).then(() => {
            // Start to use liff's api
            runApp();
        });


        function runApp() {
            liff.getProfile().then(profile => {
                const userName = profile.displayName;

                liff.getGeolocation()
                    .then(location => {
                        const userLocationText = `Latitude: ${location.latitude}, Longitude: ${location.longitude}`;

                        // Display user information on the page
                        document.getElementById('userName').innerText = `User: ${userName}`;
                        document.getElementById('userLocation').innerText = `Location: ${userLocationText}`;
                    })
                    .catch(error => {
                        console.error('Error getting location', error);
                    });
            });
        }
    </script>
</body>
</html>
